<h1 class="fadeIn animated">Clientes</h1>
<hr>

<p-growl [value]="msgs" [style]="{'margin-top':'50px'}" ></p-growl>
 <!-- <p-messages [value]="msgs" [closable]="true" id="p-messages"></p-messages> -->


<div class="fadeIn animated fast" >


<button pButton type="button" icon="fa-plus" class="ui-button-success bot-20 btn-p-3" (click)="showDialogToAdd()" label="Registrar cliente" ></button>

<div class="ui-widget-header " style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText  placeholder="Filtrar" >
</div>
<p-dataTable
[value]="clientes"
[paginator]="true"
[rows]="10"
[responsive]="true"
[rowsPerPageOptions]="[5,10,20]"
[globalFilter]="gb"
#dt
  >
    <p-header>
      Clientes
    </p-header>
    <p-column field="nombre" header="Nombres"  [sortable]="true" [style]="{'width':'20%','text-align':'left'}"></p-column>
    <p-column field="apellido" header="Apellido"  [sortable]="true" [style]="{'width':'20%','text-align':'left'}"></p-column>
    <p-column field="direccion" header="Direccion"  [sortable]="true" [style]="{'width':'20%','text-align':'left'}"></p-column>
    <p-column field="telefono" header="Celular"  [sortable]="true" [style]="{'width':'15%','text-align':'left'}"></p-column>
    <!-- <p-column field="telefono_fijo" header="Fijo"  [sortable]="true" [style]="{'width':'15%','text-align':'left'}" ></p-column> -->
    <p-column styleClass="col-button" [style]="{'width':'10%','text-align':'center'}">
      <ng-template pTemplate="header">

      </ng-template>
      <ng-template let-cliente="rowData" pTemplate="body" >
          <button type="button" pButton (click)="selectCliente(cliente)" icon="fa-pencil" class="ui-button-sucess"></button>
          <button type="button" pButton (click)="confirm(cliente)" icon="fa-trash" class="ui-button-danger" ></button>
      </ng-template>
  </p-column>

</p-dataTable>


</div>

<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" [responsive]="true"   width="300"></p-confirmDialog>

<p-dialog header="Cliente" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">

    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="cliente">

          <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm" for="nombre">Nombre</label>
            <div class="col-sm-10">
              <input pInputText id="nombre" [(ngModel)]="cliente.nombre" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm" for="apellido">Apellido</label>
            <div class="col-sm-10">
              <input pInputText id="apellido" [(ngModel)]="cliente.apellido" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm" for="direccion">Dirección</label>
            <div class="col-sm-10">
              <input pInputText id="direccion" [(ngModel)]="cliente.direccion" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm" for="telefono">Celular</label>
            <div class="col-sm-10">
              <input pInputText id="telefono" [(ngModel)]="cliente.telefono" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm" for="telefono_fijo">Fijo</label>
            <div class="col-sm-10">
              <input pInputText id="telefono_fijo" [(ngModel)]="cliente.telefono_fijo" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm" for="correo">Correo</label>
            <div class="col-sm-10">
              <input pInputText id="correo" [(ngModel)]="cliente.correo" />
            </div>
        </div>

    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="closeDialog()" label="Cerrar" class="ui-button-danger" ></button>
            <button type="button" pButton icon="fa-check" (click)="save()" label="Guardar"></button>
        </div>
    </p-footer>


</p-dialog>
