<h1>Pedido</h1>
<hr>

<p-dropdown [options]="clientes" [(ngModel)]="selectedCliente" filter="true " ></p-dropdown>

<form class="top-40">



  <div class="ui-g ui-fluid bot-20" *ngIf="selectedCliente!=null" >

    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input type="text" pInputText placeholder="Nombre" [value]="selectedCliente.nombre + ' '+ selectedCliente.apellido" name="nombre" >
        </div>
    </div>

    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-building"></i></span>
            <input type="text" pInputText placeholder="Dirección" [value]="selectedCliente.direccion" name="direccion" >
        </div>
    </div>

    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-mobile"></i></span>
            <input type="text" pInputText placeholder="Celular" [value]="selectedCliente.telefono" name="telefono"  >
        </div>
    </div>
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-phone"></i></span>
            <input type="text" pInputText placeholder="Telefono" [value]="selectedCliente.telefono_fijo" name="telefono_fijo"  >
        </div>
    </div>
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-envelope"></i></span>
            <input type="text" pInputText placeholder="Correo" [value]="selectedCliente.correo" name="correo"  >
        </div>
    </div>

</div>


<div *ngIf="1==1" >


  <div class="form-group row" >
    <label for="inputValorTransporte"  class="col-sm-2 col-form-label">Valor Transporte</label>
    <div class="col-sm-10">
      <input type="number" pInputText class="form-control" id="inputValorTransporte" placeholder="Valor Transporte"
        [(ngModel)]="pedido.valor_transporte" name="valor_transporte"
          >
    </div>
  </div>
  <div class="form-group row" >
    <label for="inputPassword3" class="col-sm-2 col-form-label">Fecha Pedido</label>
    <div class="col-sm-10">
    <p-calendar [(ngModel)]="pedido.fecha_pedido" name="fecha_pedido" placeholder="Fecha pedido"  [locale]="es" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
    </div>
  </div>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-legend col-sm-2">Radios</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
          Transporte
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
            Sin Transporte
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="descripcion">Descripción</label>
      <textarea class="form-control" id="descripcion" rows="5"></textarea>
    </div>
  </fieldset>

  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary ">Sign in</button>
    </div>
  </div>

  </div>

  <div class="">
    <form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox"> Check me out
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>
  </div>
</form>
