<nav id="sidebar">
    <div class="sidebar-header">
        <!-- <h3>CASOBAN</h3> -->
        <!-- <strong>CB</strong> -->
    </div>

    <ul class="list-unstyled components">
        <li class="active">

            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
                <i class="fa fa-home"></i> Home
            </a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li><a href="#">Home 1</a></li>
                <li><a href="#">Home 2</a></li>
                <li><a href="#">Home 3</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-briefcase"></i> About
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-link"></i> Pedido
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-paperclip"></i> Clientes
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-send"></i> Producto
            </a>
        </li>
    </ul>


</nav>